[2019-09-13 16:22] manorman5 opened #13 "weighting across iams"
@mayaanorman question: I interpreted from your code that you assign/normalize weights simply based on the files present in the target directory. So, if the target directory is complete (for a given ssp/rcp combo all 66 (33*2) subdirectories have all their files), each iam gets an equal weight in the final mixture distribution. Is that correct?

@jrising response: First, from your previous email: W

[2019-09-13 16:24] manorman5 commented on #13
Yes, I am using your get_weights() function from lib/weights.py to load a given rcp/gcm’s weight. Will that give me the right weights? @jrising

[2019-09-13 16:25] manorman5 commented on #13
My original question was: do you evenly weight iams? @jrising Sorry for being unclear before.

[2019-09-13 16:27] manorman5 opened #14 "memory spike when extracting a single ir time series with uncertainty"
@mayaanorman original comment: Also, extracting the quantiles for ARE.3 used up to 110 MB of memory, which seemed like a red flag to me. I didn't see a similar spike in memory for the region agglomeration quantiles extraction.

@jrising follow up question: How many results do you have? I want to understand the 110 MB in context.

[2019-09-13 18:52] manorman5 commented on #14
@jrising The memory use spiked to 110 MB, when I was extracting a single impact region from 130 results. I was using this newton.yml config file when I saw the memory spike.

[code]
The command I used to call this newton.yml was: `python quantiles.py energy/newton.yml FD_FGLS_inter_climGMFD_Exclude_all-issues_break2_semi-parametric_poly2_OTHERIND_other_energy_TINV_clim_income_spline -FD_FGLS_inter

[2019-09-13 18:59] manorman5 opened #15 "multiimpact_vcv"
@mayaanorman question: what should my config file, which I need to add the `multiimpact_vcv` parameter to, look like?

@jrising response: It should be a pathname. Start by generating a big block matrix which contains all of the other VCV matrices, including any covariance block or zeros if there is no covariance. Write this to a CSV, and tell me where I can find it to take a look.

[2019-09-13 19:01] manorman5 commented on #15
@jrising here's a path to the full stacked regression vcv for the coefficients included in the csvv: `/shares/gcp/social/parameters/energy/incspline0719/GMFD/TINV_clim_income_spline/FD_FGLS_inter_climGMFD_Exclude_all-issues_break2_semi-parametric_poly2_OTHERIND_TINV_clim_income_spline.csv`

[2019-09-15 09:31] jrising commented on #13
Yes, using `get_weights` will work for GCMs, and we do evenly weight IAMs.

[2019-09-15 09:44] jrising commented on #14
Okay. The expected size for this operation would be more like 20 MB, but `quantiles.py` has a nested dictionary system that could explain the rest of the memory use.

Since the expected maximum number of results for energy is 9 * 2 * 33 = 594, and assuming that everything scales linearly, this doesn't even get into multiple GBs. So, I think we can declare this a non-issue.

[2019-09-16 16:18] manorman5 commented on #14
Whoops, I had a units issue. My bad @jrising . I meant 110 GB!!!!! 40% of the available memory.

[2019-09-16 16:19] manorman5 commented on #13
Awesome, thanks @jrising!

[2019-09-16 16:19] #13 closed, assigned to nobody

[2019-09-17 13:23] jrising commented on #14
Why can't I find this directory? I'm looking on Sacagawea for `/shares/gcp/outputs/energy/impacts-blueghost/median_OTHERIND_other_energy_TINV_clim_income_spline_GMFD`, but it's not there. I thought things we set up to mirror between Battatu and Sacagawea. Have you run into this before?

[2019-09-17 16:35] manorman5 commented on #14
We are still in the process of moving all projections from sacagawea to battuta, so we haven't set up  the symbolic link on sac to the battuta outputs yet. On sac you can find the files at `/mnt/battuta_shares/gcp/` or you can find the results at the path above on battuta.

[2019-09-17 23:28] brews commented on #14
I'm having trouble reproducing this on sac. I couldn't get resident memory to bounce above ~170 MB, even after poking it with very sharp sticks. I used the same configs as above (adjusted for sac paths), pulling from /mnt/battuta_shares/.

Yo, @mayaanorman are you able to get the memory spike reliably after running this a couple times, back to back?

[2019-09-18 19:04] manorman5 commented on #14
@brews hey! I've never not seen the memory spike when calling this config on battuta with the following command: `python quantiles.py <path to config> FD_FGLS_inter_climGMFD_Exclude_all-issues_break2_semi-parametric_poly2_OTHERIND_other_energy_TINV_clim_income_spline -FD_FGLS_inter_climGMFD_Exclude_all-issues_break2_semi-parametric_poly2_OTHERIND_other_energy_TINV_clim_income_spline-histclim`
Let

[2019-09-18 20:09] manorman5 commented on #14
I see the same memory spike on sac... I'm really not sure why I see it and you don't though. Let me know if there are other forms of documentation I can provide!

[2019-09-18 21:03] brews commented on #14
@mayaanorman Okay, let's check this out. How are you seeing or measuring the spike exactly?

[2019-09-19 08:36] jrising commented on #15
Thanks. Next, where are the two sets of results that you want to combine?

[2019-09-19 14:03] manorman5 commented on #14
@brews I'm monitoring my job with htop.

[2019-09-19 14:30] manorman5 commented on #15
Here is the path to the results we want to combine... just replace the * with either other_energy or electricity.
[code]
Thanks James!

[2019-09-19 18:21] brews commented on #14
Thanks, @mayaanorman! Could you please rerun the job as this:

[code]

and then copy-n-paste the last little bit of the output here?

My output looks something like this:

[code]

[2019-09-25 08:32] brews commented on #15
Here is an update:

We see the memory ramp up in the _second_ call to `results.sum_into_data()` here: https://github.com/jrising/prospectus-tools/blob/6539c912d61b7bd4e8b00ec3bfeb705c09d62b87/gcp/extract/quantiles.py#L41

Within this run of `results.sum_into_data()`, each loop adds roughly a GB to our memory footprint starting with `bundles.iterate_regions()` here: https://github.com/jrising/prosp

[2019-09-25 14:46] manorman5 commented on #14
hi @brews ! Sorry for the delay. I ran the command below because `/usr/bin time` at the beginning of the command didn't work for me. Let me know if that's an issue.
[code]
Here's my output:
[code]

[2019-09-25 15:18] brews commented on #14
@mayaanorman Nice. Yup, that was my mistake typing that command out. This is exactly what I wanted. Great work.

Would you please also paste the output from running `pip list` in the same environment? Annd please remind me which branch of prospectus-tools you're working off of for this output ^

[2019-09-25 17:00] manorman5 commented on #14
Sweet! glad i could help. I'm on the vcvinfo branch. Here's my pip list output:
[code]

[2019-09-25 17:34] brews commented on #14
Excellent! I replicated the the spike. I should be able to run with this and dig in. Thanks again!

[2019-09-25 17:41] brews commented on #14
Annnd I'm going to bet all the tea leaves in London that this spikes in the same place as  https://github.com/jrising/prospectus-tools/issues/15#issuecomment-534914543. I missed that this was in `vcvinfo` and but now some of the latest commits to master now lead me to the spike.

Trying to nail down exactly why all the netCDF data is persisting in memory.

[2019-09-26 15:52] jrising commented on #15
I don't think there's any surprise that it's in the reading of the deltamethod files that the memory boosts up: those files are really big. (As compared to the first call of sum_into_data, which is just reading the point estimate files).

There's also no smoking gun with the region name data. If you calculate the size of the deltamethod matrix, it should be ~0.9 GB, just like we see.

The problem

[2019-09-26 17:42] brews commented on #15
@jrising Can do. Take a look here: https://github.com/brews/prospectus-tools/commit/708569303137ce20e18d3533ef1b26e93d8515e4

I think I called it `read_region()`.

I'm happy to draw this up into a PR if you'd like to run with it.

[2019-09-26 20:41] brews commented on #15
Note to self: I need to check this against case of users running it without 'region'/'regions' in their config.

[2019-09-27 13:46] brews commented on #15
I'm moving our discussion about the memory leak back over to issue #14.

@mayaanorman , you originally opened this with questions about `multiimpact_vcv`. Are you all set with that?

[2019-09-27 19:42] manorman5 commented on #15
hey @brews, i'm just starting to test out the new system James set up for the multiimpact_vcv, so let's maybe keep this open until I wrap that up? Instead, I can also chat with James about that over email, if that is what you all prefer.

[2019-09-27 19:43] manorman5 commented on #14
Great, I'm glad you were able to replicate the memory spike! thanks for working on this.

[2019-09-27 23:52] brews commented on #15
@mayaanorman, no sweat. Y'all can keep things rolling here. I'll keep this open if you still want to test things out.

[2019-09-30 17:56] brews opened #17 "Add the option to choose SSP in the config/command"
From RA suggestion meeting:

@trinetta  suggested adding the ability to choose SSP in the YML configs or commands. We already have a similar feature for IAM and RCP.

I am assured that this would be lit.

This is moved from the `impact-calculation` issue here: https://gitlab.com/ClimateImpactLab/Impacts/impact-calculations/issues/24#note_224050598.

[2019-09-30 18:03] brews commented on #17
@mayaanorman Asked about the timeline for this. I don't think I'll be able to get this in the next week.

As for this, @mayaanorman :

This feels like a we need to post a new issue for this. @jrising, is this something that should work?

[2019-09-30 23:19] manorman5 opened #18 "can't extract the mean with full uncertainty quantiles"
Hi @jrising and @brews, using the config below results in the error message below. The error does not arise when I do not have 'mean' in my `evalqvals` parameter.  It would be much more convenient for me, if I could extract the mean along with the quantiles which reflect full uncertainty; however, if this is a lot more work for you, don't worry about it!!!!!!!!!!!!!!! really.

config:
[code]
error

[2019-09-30 23:20] manorman5 commented on #17
I think this error I highlighted may just be a branch issue on my end. I'll let you know if there is something I think you need to address.

[2019-10-01 16:11] brews commented on #18
@mayaanorman Nice, thanks for the report. Can you confirm what branch you're working from?

[2019-10-01 19:34] manorman5 commented on #18
@brews I got this error when working on the master branch.

[2019-10-02 15:37] jrising commented on #18
That error message is happening just because I haven't implemented means for the "parallel delta method" mode. It's something that we can add, but there are some other GCP priorities on my plate before this. The math is easy though: we should just take a weighted mean, where the weight is the product of the inverse variance and the GCM model weight.

[2019-10-02 15:47] brews commented on #14
My work around from https://github.com/jrising/prospectus-tools/issues/15#issuecomment-535612223 solves the memory leak for single region runs. It takes longer to run but it doesn't explode.

We do gobble a great deal of memory if I remove the 'regions' section from the run config. In my last test it allocated around +50GB before I killed it. It doesn't _explode_ to the extent that we saw earlier.

[2019-10-02 15:49] brews commented on #18
Thanks, James. Removing the bug tag and marking this as a feature request.

I have other issues to tackle over the next week or two so this is lower priority for me as well.

[2019-10-02 16:20] brews commented on #14
Just killed it at +103 GB. Output is attached.

[testrun_out.txt](https://github.com/jrising/prospectus-tools/files/3682130/testrun_out.txt)

[2019-10-03 12:28] manorman5 commented on #18
@jrising if you could get to it when you have time that would be awesome! I would like to clarify though if the lack of mean extraction functionality for the "parallel delta method" mode is a product of how you've set up the code or a conceptual piece I am confused about.

I was under the impression the mean of the distribution that reflects climate and statistical uncertainty is equivalent to the

[2019-10-03 18:10] jrising commented on #14
I think we're talking about 24378*81*120*8*130 bytes = 230 GB for this operation. Half of that if you just do 1 RCP. So that seems about right.

[2019-10-03 18:15] brews commented on #14
Okay, it peaks at 114 GB, but takes hours-ish (though, I had to run it with `nice`).

I'll run this again during off-hours and see if I can't attach a profiler. It might be nice to see where we are spending this time. If this memory leak is actually solved I'll clean up my solution and put it into a PR.

Will follow up.

[2019-10-03 20:39] manorman5 opened #19 "cannot extract values csvs using the most recent version of the master branch"
hey @brews and @jrising , sorry to bother you both again. I ran into an issue extracting value csvs on the master branch. When I go back to commits pre the results.sum_into_data function, I do not have this issue. I wrote up a couple fixes on this [branch](https://github.com/jrising/prospectus-tools/tree/master-values-hack). I made a slight modification to quantiles.py, so it could receive a years

[2019-10-03 22:26] brews commented on #19
+1 to @mayaanorman for working out a solution on your own (even a temporary one)!

Real quick:

- Is it throwing an error for you or what console output do you get (when it fails)?
- It worked pre 47b1c2712c3b284aad6cb42500a4eec81d443596?
- Can I please get the exact bash and run config yml you're running under? (cut-n-paste or drag-n-drop here)

[2019-10-04 20:15] manorman5 commented on #19
hey @brews! My configs/quantiles call for extracting point estimate (vs variance) valuescsvs worked at this [commit](https://github.com/jrising/prospectus-tools/commit/f823d1ee79b85d197431b32d4b8b3fcefc351938). Sorry I know that is awhile back. I had trouble deciphering which commit I could go back to that wasn't contaminated with delta method updates. I went back really far to convince myself tha

[2019-10-04 20:31] manorman5 opened #21 "when an SSP result exists for the point estimate, but not for the delta method I get a key error"
hi @brews and @jrising, I can't extract quantiles that reflect full uncertainty due to this error:
[code]
I wrote up a work around [here](https://github.com/jrising/prospectus-tools/tree/ssp-workaround).

Here is the line I was using to call quantiles:
[code]
And here is the config I was calling:
[code]
Let me know if you have questions!

[2019-10-04 21:04] brews commented on #19
@mayaanorman This is excellent! I may not be able to get to this immediately but this makes it much easier for me to replicate and dig into this. Thanks so much!

[2019-10-05 09:55] jrising commented on #18
Okay, so it sounds like there are two things we need to get on the same page about, before I do any implementing.

1. Do we agree on the math of how to do an average in this case? It sounds like no. Your claim is that mean = (\sum_g w_g x_g) / (\sum_g w_g), where g is the GCM. Although I haven't thought about it very much, I think it should be mean = (\sum_g w_g x_g / var(x_g)) / (\sum_g w_g / var

[2019-10-05 12:00] manorman5 commented on #18
Hi @jrising,

I totally agree that we need to agree on point/question 1. I think point 2 is just a product of the fact that I thought there was consensus that the mean across climate uncertainty equaled the mean across full uncertainty, but there isn't :). Thus, I don't think we need to or should address point 2.

In respect to question 1, Andy and Ashwin have already run a monte carlo and worked

[2019-10-07 19:41] manorman5 commented on #18
Ashwin will email you James about how to average in this case.

[2019-10-07 19:41] #18 closed, assigned to nobody

[2019-10-08 17:36] brews commented on #15
I'm going to close this to keep things fresh.

If a new question/issue comes up please feel free to open a new issue and reference this.

[2019-10-08 17:36] #15 closed, assigned to nobody

[2019-10-25 03:53] brews commented on #14
Hooray! I am free and nobody is on the server!

Let me quickly rebase my workaround and test this out.

The "sic_mad_hax" branch:

[code]

Current master branch on the same problem:
[code]

Thats 119.7 GB vs 1.3 GB max memory footprint. Looks like the workaround is doing its job.

Here are the output files

- master branch: [master.tar.gz](https://github.com/jrising/prospectus-tools/files/3770276/

[2019-10-25 14:58] brews commented on #14
The above was run with `python quantiles.py newton.yml FD_FGLS_inter_climGMFD_Exclude_all-issues_break2_semi-parametric_poly2_OTHERIND_other_energy_TINV_clim_income_spline -FD_FGLS_inter_climGMFD_Exclude_all-issues_break2_semi-parametric_poly2_OTHERIND_other_energy_TINV_clim_income_spline-histclim`

"newton.yml" contains:

[code]

[2019-10-25 22:19] #14 closed, assigned to brews

[2019-10-28 18:28] jrising opened #27 "`get_regions` no longer handles `countries` and `funds`"
PR #26 includes a change to the logic in `get_regions`. There are a few problems with this change:
 - If the regions configuration option includes `countries` or `funds`, these will not be properly handled.
 - The function will return `[]` to mean "all regions" if `allregions` is None, and will return a list of all of the regions if it is given to it. That seems like confusing logic, when one of t

[2019-10-28 18:41] brews commented on #27
Got it! Thanks for the issue.

[2019-10-28 18:56] brews commented on #27
@jrising I didn't even catch the bit about "countries" or "funds" or how `regions` handles  a "global" option. I've been looking at the documentation in prespectus-tools/gcp/extract/config-docs.md, can I find these details elsewhere?

Edit: Is there another function or method that breaks down the funds or countries into indexes or the regions that are needed from the netCDF data?

[2019-10-28 19:12] brews commented on #27
@jrising I feel like these changes are adding too much magic into the `read_region` function.  As it is, it takes the netCDF and removes the target regions. Handing it a YAML config to then interpret feels like a separate step that doesn't need to happen every time we read the netCDF file. Just do it once and tell `read_region` what regions to extract. As it is, this is simple to remove or test in

[2019-10-30 17:09] TomBearpark commented on #27
Hey both. I am having an issue (/ encountering a bug) when trying to use quantiles.py since PR #26, that i think is related to this thread.

To reproduce the error - here was the command I used:
[code]

And here is the contents of that config:
[code]

The error that I get is:
[code]
Note, we are specifying the region (global in this case) through the command, rather than through the contents of th

[2019-10-30 20:31] TomBearpark commented on #27
To note (posting this after discussion with Brewster about the functionality of the region restriction) in netcdf files with the  `-aggregated` tag (ie those that contain information on agglomerations of impact regions), regions that are not the `global` region are defined using their name, however the global region is identified as `''`.

So running quantiles.py with the restriction `--region=glo

[2019-11-06 03:02] jrising commented on #27
@brews I think it's fine if you want to keep `read_region` simple (though it's a bit simple for my aesthetics). In that case, how about adding a `read_regions_list` function, which returns the full list of regions, for use at the top of `iterate_regions` for the call to `config.get_regions`?

[2019-11-13 20:51] brews commented on #27
@jrising I have the changes you recommended in PR #28. After the discussion with you I implemented most, if not all of your suggestions.

However, I'm not sure this deals with the issue that the energy sector crew raised. If 'region' is "global" in the config file yaml file, this will not extract the values they expect.  We still need to translate "global" to the region "", akin to @mayaanorman's

[2019-11-14 16:34] jrising commented on #27
Good point. Let's move the functionality of bundles.py lines 141-142 (on your PR branch) into `get_regions`. Note that since `get_regions` returns a list, you'll have to replace it within the list rather than the way that 141-142 do it.

[2019-11-14 23:07] brews commented on #27
This is all getting wrapped (including "global" `region` in PR #28).

[2019-11-15 17:11] #27 closed, assigned to brews

[2019-11-15 18:03] brews commented on #19
Hey @mayaanorman, I'm checking our issue backlog. Are you still having this issue?

[2019-11-15 19:27] manorman5 commented on #19
hey @brews! @jrising and I wrapped this up issue up with this [pull request](https://github.com/jrising/prospectus-tools/pull/23). Sorry i should have closed this issue!

[2019-11-15 19:27] #19 closed, assigned to nobody

[2019-11-15 19:29] manorman5 commented on #21
Resolved with PR #22

[2019-11-15 19:29] #21 closed, assigned to nobody

[2019-11-16 01:48] brews commented on #21
@mayaanorman
Sic-l337-hax0r-pro-tip: If you write `close #issuenumber` (e.g. `close #2`) or similar into your pull request descriptions, github and gitlab will automatically close the issue as soon as the PR gets merged into `master`.

And thanks for all your help, BTW. It helps a great deal.

[2019-11-17 17:20] manorman5 commented on #21
amazing thank you @brews! that makes a whole lot of sense

[2020-03-28 18:22] #17 closed, assigned to nobody

[2020-05-27 19:01] TomBearpark opened #30 "Region command line argument issue when using quantiles.py"
Hey @brews,

### Issue
I have been having problems using quantiles.py to extract impacts for a single region using the command line.

An example of a command that has this problem is:

[code]

where `extract_energy.yml` is:

[code]

Rather than only extracting impacts for the USA region, this command produces output csvs for all possible regions, which takes a very long time and produces a lot of

[2020-05-28 15:19] brews commented on #30
Thanks for the issue @TomBearpark! Appreciate the documentation and heads-up.

[2020-05-28 15:21] jrising commented on #30
@brews I've tracked this down. You broke this functionality in commit:
https://github.com/jrising/prospectus-tools/commit/2a95b6311d4dbaa918241f42e8a5a8b097642b79

I'm testing putting the functionality back.

[2020-05-28 15:29] jrising commented on #30
@TomBearpark I want to keep the distinction between `region`, which takes a string, and `regions` which takes a list of strings. Eventually, if `regions` is given a string, it should treat it like a prefix.

So, my solution was just to add back in the line that handles the `region` config option, here:
https://github.com/jrising/prospectus-tools/pull/31/files

[2020-05-29 08:30] #30 closed, assigned to nobody

[2020-07-20 16:07] manorman5 opened #33 "total energy impacts does not equal the sum of other energy and electricity impacts"
When using quantiles.py functionality to extract the sum of two projection outputs, the sum constructed by quantiles.py does not equal the sum when the two projection outputs are extracted individually and then summed.

This issue is well documented [here](https://gitlab.com/ClimateImpactLab/Impacts/impact-calculations/-/issues/36). I'm just transferring this issue from impact-calculations to pros

[2020-07-21 02:29] brews commented on #33
Thanks for this @mayaanorman. It is officially on the issue stack/pile/heap.

[2020-07-21 21:06] manorman5 commented on #33
no prob!! Let me know if you have follow up questions about the issue with documentation that I linked.

[2020-08-21 20:47] manorman5 opened #34 "--region="global" leads to `ValueError: 'global' is not in list`"
This is an issue Rae is having. I think [get_regions](https://github.com/jrising/prospectus-tools/blob/4d5244267cfa5e71192a6719086c6cf3bdd58156/gcp/extract/lib/configs.py#L195) needs the following slight modification:
[code]

Rae let me know if the above modification doesn't fix your problem. I thought I'd move the conversation here with the hopes that its a better place to document quantiles.py d

[2020-08-22 04:59] ruixue-li commented on #34
Thanks Maya! The fix is working so far! I'll see if it finishes running and gets
I guess if this is the issue, then we can also modify `load_median.R` to put `--regions=['']` if it sees `global` as the region specified (which I tried and it works the same way as your modification).
Do you think it's better to change the `get_regions` function here instead?

[2020-08-22 12:42] jrising commented on #34
I think there is a better way to solve this problem, since you've started to reproduce the logic that already exists for the `regions` (with an `s`) config option. Start by collecting either `config['region']` or `config['regions']`, and put it into a `regions` variable. Like this:
[code]
And then you can keep the rest of the function, starting with `if 'global' in regions:`.

Can you make this ch

[2020-08-22 15:11] manorman5 commented on #34
Cool yep, that's better thanks @jrising!.

@ruixue-li Changing the `get_regions` function is a better fix I think. Here's my reasoning: I found it confusing that you could use the `global` keyword with the `regions` parameter, but not with `region` parameter. It also seemed like that wasn't the intention, but I could be wrong. Anyways, to avoid a future user tripping up on this quirk I thought cha

[2020-08-27 16:16] ruixue-li commented on #34
Thank you so much @mayaanorman @jrising !

I've tested James' modification and will submit a pull request, but it seems that I need permission to push to this repo. Maybe either @jrising or @brews can give me permission? Thanks!

[2020-08-28 21:21] jrising commented on #34
@ruixue-li No problem, I've invited you.

[2020-11-26 11:29] emileten opened #36 "`quantiles.py` produces `edfcsv` even though `impact` file might be entirely absent in a given climate model"
Hi @brews -- I think I can't assign anyone because I haven't been invited to this repository yet. Would you mind doing it ? Thank you ! Also if you think it's better that James looks at this, feel free to redirect this issue (I wasn't sure who to assign).

I want to extract the gcm-distribution from some impact netcdf. This netcdf is contained in all but one gcm's target dirs. The current behavior

[2020-11-29 23:56] jrising commented on #36
@brews I'm ambivalent about a solution to this problem. It does not need to be the job of `quantiles.py` to check whether all GCMs are accounted for. The case described seems fairly esoteric (the directory exists, but not the file?), and the more general requirement that "all" GCMs be required would have to be given the list of GCMs (different analyses aim for different "complete" sets of GCMs). B

[2020-11-30 16:50] emileten commented on #36
@jrising @brews thanks for reacting to this. It's indeed about a particular case, i.e outside of the code system, since the files I am trying to aggregate were not produced by the projection system itself, but by some independent code (Andy's code for costs in agriculture).

[2020-11-30 20:05] brews commented on #36
@emileten I think that @jrising raises a really good point. It's generally tricky to read the user's mind and identify which GCMs are and are not missing -- especially because each sector can have its own tedious rules on which GCMs are used in combination with other IAMs, SSPs, etc. I'd lean towards marking this as something we won't be able to fix. Right now I feel like fixing it right requires

[2020-11-30 20:07] #36 closed, assigned to nobody

[2020-12-01 09:00] emileten commented on #36
@brews thanks, I understand. For now I already have a workaround yes.

But I wrote this issue for the future. Although my case is particular, I think similar cases might happen in the future. I see what you mean when you talk about sector's specificities. Here specificities are determined by which directories exist and which GCM-weights are used. The reason I wrote this issue is that I found it mi

[2020-12-02 13:44] jrising commented on #36
@emileten I have no problem with this being added as an optional feature. I was trying to find a place in the documentation to add a line like, "The quantiles.py script produces results even for incomplete datasets." but we don't have a gentle introduction to the tool. Maybe that would be the solution here, so that the performance of the tool is not misleading?

[2020-12-07 10:29] emileten commented on #36
Thanks @jrising. I agree either solutions are good (optional feature, or add this output restriction in the documentation). I am happy to help implementing either, if needed.

[2020-12-07 11:04] emileten opened #37 "sector specific weights transformation"
@brews (again, not sure who to assign, happy if someone can correct me) I have been using, for extracting agriculture results, a specific set of GCM weights that differs from what goes through the extraction in the `master` branch. In order to do so, I've been passed on by the previous RA an update to the two first functions of `weights.py` :

[code]

Note the differences are for `rcp85` -- the fi

[2020-12-08 22:45] jrising commented on #37
@emileten I need some background here. Why is agriculture using a different set of weights than other sectors, and where did these weights come from?

Also, on the code side, I'm confused about some issues:
 - In `get_weights_april2016`, the only difference I see between the two code chunks is the filename. Can the rest of the code repetition be deleted?
 - In `get_weights_march2018`, shouldn't we

[2020-12-08 22:56] jrising commented on #36
@emileten I believe that @brews is working on a stand-alone version of the `quantiles.py` (and related?) tool(s), so we can add the documentation in there.

My suggestion for a coding solution is to add a config option: `require-gcms: [...]`, where if any of the listed GCMs is missing, we drop the set it's in. There's a challenge of defining what the set it's in is though: the data structure we bu

[2020-12-09 13:37] emileten commented on #37
@jrising, thank you. Here are answers to your questions :
- about your first question, I have part of the background only. `access1-0` in `rcp85` is dropped because of extreme precipitation values, but I don't know about the others. Let me do some research (in particular ask andy), and I will get back to you.
- regarding the second question, you are right about the only difference and yes it can b

[2020-12-09 14:05] emileten commented on #37
@jrising so indeed, weights in agriculture are different because it was decided to drop `access1-0` in `rcp85` (extreme precip). This influenced the weights of the other models. Jiacan had computed the weights for all the models in `rcp85` with that updated, you can see [this slack link](https://climateimpactlab.slack.com/archives/C2CHW1KCG/p1584456833020100). Now I don't know why there is also a

[2020-12-09 17:49] andyhultgren commented on #37
@jrising @emileten  Emile is right, ACCESS1-0 is dropped for RCP 8.5 due to implausible precip values, and Jaican produced new RCP8.5 SMME weights to account for this.

I don't know why the hardcoded re-weighting is also in the second version of this function.  I didn't realize it was there (though, a confused-version of my past self may well have asked for it, who knows). At any rate, I don't thi

[2020-12-10 17:33] jrising commented on #37
Okay, then I definitely think that we should transition away from this code. One solution is to just delete or move away all of the `access1-0` results (taking advantage of the default behavior we discussed in #36). I think that's pretty sensible, because it handles the problem at the source: we actually should never have made the `access1-0` results in the first place once we realized that we don

[2020-12-10 17:38] jrising commented on #37
Oh, I just read @emileten's comment that we do need to adjust the weights of other models, in light of dropping `access1-0`. Okay, then I propose the following:
 - We implement `ignore-gcms`, for convenience.
 - We write out this new set of weights to a file, named something like `rcp85_SMME_weights-no-access1-0.tsv`.
 - Whether `ignore-gcms` or `only-models` is used, the code looks at the resulti

[2020-12-10 18:21] emileten commented on #37
@jrising thank you. After testing this code above in isolation it turns out it is not doing anything wrong, it's just very confusing.  the values `get_weights_april2016` returns are the weights we want, with the file difference, and the hard coded weights written in `get_weights_march2018` are there because the function overwrites this difference. I.e ag weights differences are only what you see i

[2020-12-11 17:33] andyhultgren commented on #37
I totally agree this implementation should be cleaned up for code
accessibility / maintenance going forward. It is pretty confusing in the
current setup and I didn't realize it had been done like this! Thank you
@emileten <https://github.com/emileten> for testing it and getting to the
bottom of it. Given that the current (confusing) implementation works, I'm
totally ok with this being a lower prio

[2020-12-12 20:50] jrising commented on #37
@emileten Okay, let's do this. Can you produce this as a stand-alone weights file? I'll work on the code.

[2020-12-12 23:13] jrising commented on #37
Okay, I've started a PR. What I am currently not handling is @andyhultgren's comment that the model should only be dropped for one of the RCPs.

Under my PR, which follows my proposal above, you could get the desired behavior by separately calling `quantiles.py` for RCP 4.5 and 8.5, with the `drop-models` option (I changed the proposed name from from `ignore-models` to `drop-models`) only for RCP

[2020-12-14 15:00] emileten commented on #37
@jrising great thank you ! The file is actually the one already referenced in the top of the code above, i.e : `'/shares/gcp/climate/BCSD/SMME/SMME-weights/rcp85_2090_SMME_Arg_April2019.tsv'`.

[2020-12-14 15:07] emileten commented on #37
@jrising Regarding this, I am personally ok with either. I can use the current state of the PR without much trouble provided I have the ability to pass `drop-models=None` (or anything that is used as a 'drop nothing' value), because I use a wrapper script that is looping over `rcp`s and calling `quantiles.py` with the `only-rcp` option.

Your second suggestion sounds more general though, and easy

[2020-12-14 15:09] emileten commented on #36
thanks @jrising, I am working on that.

[2020-12-15 18:59] jrising commented on #37
Okay, then let's not create a new syntax for a future use case now. You can either just leave the `drop-models` option out, or set it to `none` for RCP 4.5.

I've made a branch and PR for this: https://github.com/jrising/prospectus-tools/pull/39

Unfortunately, changes on the server have broken my python 2 environment, so I have not been able to properly test this. Your help on this would be appre

[2020-12-21 09:32] emileten commented on #37
Hi @jrising. I ran the tests and the last one failed -- I added a comment in the commit in order to clarify.

[2021-02-12 03:32] emileten commented on #37
Hey @jrising, let me know if you need any further help in these changes! We will be handing over the task of running these codes across team members so it would be great if I could be able to use this functionality.

Thank you very much !

[2021-02-17 15:51] #37 closed, assigned to nobody

[2021-02-25 14:30] #34 closed, assigned to ruixue-li

[2021-02-25 17:26] ruixue-li opened #41 "Error while extracting energy impact with full uncertainty"
Hi @jrising and @brews ,

I'm trying to extract some energy impact with full uncertainty with [this config](https://github.com/ClimateImpactLab/energy-code-release-2020/blob/interaction/projection_inputs/configs/GMFD/TINV_clim/break2_Exclude/semi-parametric/Extraction_Configs/sacagawea/impactpc/full/aggregated/median/energy-extract-impactpc-aggregated-median_OTHERIND_electricity.yml), and this com

[2021-02-26 18:04] jrising commented on #41
It appears that you're getting a bunch of NAs for some of the regions. Checking into it.

[2021-02-26 19:25] jrising commented on #41
It looks like there are missing values in the following regions:
TWN.4
TWN.3
TWN.1
TWN.2
NZL.10.42
HMD
CHN.21.226
CHN.21
ATF
ZAF.9
SGS
CL-
BRA.8.837
BRA.8.836
AUS.1
AUS.3
ESP.6.27.191
ESP.6.27.192
SP-
IOT
BVT
ATA

These are generally very small regions. I have a fix where the code just warns you that there are missing values and so it has to skip the region, but it might be worthwhile to find out

[2021-03-01 15:54] ruixue-li commented on #41
Hi @jrising ,

I see, thanks! If it's not too much trouble, do you mind putting in that fix first, so that it doesn't hold up other stuff while I look into why those regions are missing?

[2021-03-02 16:52] jrising commented on #41
Sure. I've just committed it to master. Here are the changes:
https://github.com/jrising/prospectus-tools/commit/a22539b66278b853159fe0343c38a24fecee1fc5

[2021-05-27 10:22] emileten commented on #37
@jrising (@andyhultgren I you have any idea...) I am sorry that I have to resume this thread. I noticed a problem with what we merged (which doesn't affect any past result). I am happy to solve the problem myself, but i find these weights versioning very hard to understand, so if I could get some help to understand the background in more details than last time, it would be great. Let me know if yo

[2021-05-28 20:44] jrising commented on #37
The pattern and surrogate models are the same thing. Their naming convention changed mid-stream, without a corresponding change in the climate data, so I combine the 2018 (rcp85_SMME_weights.tsv) and 2016 (rcp85_2090_SMME_edited_for_April_2016.tsv) to make sure that I capture both names. So, you get the default weights for those.

If you use the `drop-models: access1-0` option, the code looks for

[2021-06-23 19:17] ruixue-li opened #42 "Getting NA when extracting energy quantiles: "Cannot find the location of 0.500000 for the following means and std. devs""
Hi @jrising ,

I'm getting a NA for Florida (USA.10), year 2020 when extracting the `q50` quantile of total damages. The mean value of the same region and year also looks wrong (a sudden large negative value in a time series of large positive values).

There's nothing missing in our projection output, and I found this error message in the log file. I'm wondering if you have any thoughts on what ma

[2021-06-24 22:10] jrising commented on #42
I started looking into this. It works fine when run with just the data reported-- means and std. dev.s, and applying a weight of 1 to all models. It might be a problem with the weight values, but I need to check more.

[2021-06-25 16:06] jrising commented on #42
@ruixue-li Where can I get this file: `/home/liruixue/repos/energy-code-release-2020/projection_inputs/csvv/TINV_clim/FD_FGLS_inter_OTHERIND_TINV_clim.csv`? What's the repo, or can we move it to a shared spot?

[2021-06-25 16:35] ruixue-li commented on #42
Hi @jrising ,

It's [here ](https://github.com/ClimateImpactLab/energy-code-release-2020/blob/interaction/projection_inputs/csvv/TINV_clim/FD_FGLS_inter_OTHERIND_TINV_clim.csv), and I've moved it to
[code]

[2021-07-01 18:55] jrising commented on #42
@ruixue-li Okay, I figured it out. The wide range of values ended up just making it so that the fixed point wasn't found within 100 iterations, which was the default limit. I just increased it to 200 iterations, and it seems to work fine now!

[2021-07-02 16:02] ruixue-li commented on #42
Thank you so much @jrising !

[2021-07-02 16:02] #42 closed, assigned to nobody

[2021-11-12 01:16] StefanKlos opened #43 "Mortality extraction of single model MC run not computing `fulladaptcosts` as sum of `fulladapt` and `costs`"
Pretty much, running the [base mortality extraction config](https://gitlab.com/ClimateImpactLab/Impacts/mortality/-/blob/fix-extract/2_projection/2_run_projections/extract/extract_mortality.yml) on the CCSM4 run is giving me `fulladaptcosts` values that do not equal the sum of `fulladapt` and `costs`. The shell script I am running is [here](https://gitlab.com/ClimateImpactLab/Impacts/mortality/-/b

[2021-11-15 20:39] jrising commented on #43
So, as I understand your shell script, when `scn = fulladaptcosts`, you are asking `quantiles.py` to calcuate:

`BASENAME-combined-aggregated.nc4 - BASENAME-combined-histclim-aggregated.nc4 + BASELINE-combined-costs-aggregvated.nc4`
which then takes the `rebased` column from the first two and adds the `costs_ub` column from the last one (divided by 1e5).

Then, you're comparing that to the sum of

[2021-12-15 16:16] StefanKlos commented on #43
This ended up being a problem with the adaptation costs source files that was fixed by rerunning aggregation with a modified configuration

[2021-12-15 16:16] #43 closed, assigned to nobody

[2021-12-16 18:53] jrising commented on #43
@StefanKlos Glad to hear you tracked it down!

[2022-11-22 18:29] KatChampion opened #44 "Unclear Correct Format for CLI Flags quantiles.py"
I am struggling to pass in arguments using CLI flags to quantiles.py. Reading consume_config in the configs.py script it seems like any argument can come from either the yaml config file or a CLI flag on the command line. However, it's unclear how the input value should be formatted when using a CLI flag. For example changing whether the CLI flag is fed a string or a vector of values effects wheth

[2022-11-30 21:17] jrising commented on #44
Thanks for the issue. You should be able to pass in CLI arguments in the exact same format as yaml options, since these are just passed to the yaml parser. Can you add here any examples you have of when this doesn't work?

[2022-11-30 21:54] #44 closed, assigned to nobody

[2022-11-30 21:56] KatChampion commented on #44
Actually I managed to figure out everything except how to pass yearsets tuples. I have been trying to pass in a tuple as [(2080,2099)] but it fails in both the yaml and as the CLI flag. It gives an error saying %d expects a number.